<div class="calendar">
  <div class="periods">
    <div class="blank-space" *ngFor="let i of [a]">
      <!-- This leaves a blank space at the start of the first column -->
    </div>
    <div class="period" *ngFor="let hour of hours" [style.font]="bold" >
      {{ hour }}
    </div>
  </div>
  <div class="days">
    <div class="day" *ngFor="let day of days">
      <h2 class="day-name">{{ day }}</h2>
      <div class="hour" *ngFor="let hour of hours">
        <div class="subject" *ngFor="let subject of subjectOn(day, hour)" [style.background-color]="subject.color">
          {{ subject.name }} - {{ subject.commissionName }}
        </div>
      </div>
    </div>
  </div>
  <div class="subjects">
    <div class="subject-list">
      <div class="selected-schedule" *ngFor="let selectedSchedule of schedules">
        <div class="selected-subject" *ngFor="let selectedSubject of selectedSchedule.subjects">
          {{ selectedSubject.name }}
          <mat-checkbox class="selected-comission" [checked]="checkedStatus">
            {{ selectedSubject.commissionName }}
          </mat-checkbox>
        </div>
      </div>
    </div> 
    <!--
    <mat-form-field class="subject-chooser">
      <input type="text" placeholder="Agregar materia" matInput [matAutocomplete]="auto" (input)="onSubjectChooserChange($event)" [(ngModel)]="subjectChooserValue">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="subjectSelected($event)">
        <mat-option *ngFor="let option of filteredOptions" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  -->
  </div>
</div>