.h2 {
  font: bold;
}

.calendar {
    width: 400px;
    max-width: 100%;
    display: inline-flex;            /* So that columns are displayed horizontally */
    text-align: center;
  }
  
  .day {
    border: solid 1px #ccc;
    min-height: 70px;
    min-width: 130px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .subject {
    border: solid 1px #ccc;
    min-height: 40px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    text-align: center;
  }

  .blank-space {
    border: solid 1px #ccc;
    min-height: 67px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }

  .period {
    box-sizing: border-box;
    min-width: 45px;
    padding: 11px;
    border: solid 1px #ccc;
    border-radius: 4px;
    text-align: center;
    background: white;
    overflow: hidden;
    display: block;
  }
  
  .days {
    display: flex;
    flex-direction: row;
  }

  .periods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .subject-list {
    border: solid 1px #ccc;
    border-radius: 4px;
    margin: 0px 30px;
    padding: 5px 100px 5px 10px;
    text-align: left;
  }

  .selected-schedule {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
  }

  .selected-comission {
    font-size: medium;
  }